:root {
  --ifm-color-primary: #14cabf;
  --ifm-color-primary-dark: #10a299;
  --ifm-color-primary-darker: #0c7973;
  --ifm-color-primary-darkest: #08514c;
  --ifm-color-primary-light: #21e9dd;
  --ifm-color-primary-lighter: #4aede3;
  --ifm-color-primary-lightest: #72f1e9;

  --ifm-color-gray-0: hsl(220, 100%, 100%);
  --ifm-color-gray-100: hsl(220, 65%, 98%);
  --ifm-color-gray-200: hsl(220, 60%, 94%);
  --ifm-color-gray-300: hsl(220, 55%, 90%);
  --ifm-color-gray-400: hsl(220, 35%, 75%);
  --ifm-color-gray-500: hsl(220, 25%, 65%);
  --ifm-color-gray-600: hsl(220, 15%, 50%);
  --ifm-color-gray-700: hsl(220, 25%, 35%);
  --ifm-color-gray-800: hsl(220, 35%, 25%);
  --ifm-color-gray-900: hsl(220, 55%, 15%);
  --ifm-color-gray-1000: hsl(220, 60%, 10%);

  --ifm-color-teal-100: #8efbf7;
  --ifm-color-teal-200: #32e6e2;
  --ifm-color-teal-300: #14d8d4;
  --ifm-color-teal-400: #05bdba;
  --ifm-color-teal-500: #04a29f;
  --ifm-color-teal-600: #02807d;
  --ifm-color-teal-700: #016968;
  --ifm-color-teal-800: #014847;
  --ifm-color-teal-900: #0c2a2a;
  --ifm-color-teal-000: #defffe;

  --ifm-color-neutralLight-100: #f6f6f7;
  --ifm-color-neutralLight-200: #e9ebed;
  --ifm-color-neutralLight-300: #d1d5da;
  --ifm-color-neutralLight-400: #9da7b2;
  --ifm-color-neutralLight-500: #778089;
  --ifm-color-neutralLight-600: #545a61;
  --ifm-color-neutralLight-700: #353a3e;
  --ifm-color-neutralLight-800: #181a1c;
  --ifm-color-neutralLight-000: #fff;


  --ifm-color-neutralDark-100: #e6ecf2;
  --ifm-color-neutralDark-200: #abb5bf;
  --ifm-color-neutralDark-300: #7e8792;
  --ifm-color-neutralDark-400: #4d565f;
  --ifm-color-neutralDark-500: #3b434c;
  --ifm-color-neutralDark-600: #272f38;
  --ifm-color-neutralDark-700: #1e242c;
  --ifm-color-neutralDark-800: #12181f;
  --ifm-color-neutralDark-900: #060b10;
  --ifm-color-neutralDark-000: #fff;

  --ifm-color-green-100: #bef9c6;
  --ifm-color-green-200: #93f5a5;
  --ifm-color-green-300: #64d87f;
  --ifm-color-green-400: #3ac364;
  --ifm-color-green-500: #31a855;
  --ifm-color-green-600: #228240;
  --ifm-color-green-700: #1a6b34;
  --ifm-color-green-800: #0f4a21;
  --ifm-color-green-900: #152a19;
  --ifm-color-green-000: #e7fce9;

  --ifm-color-gold-100: #f6e0a5;
  --ifm-color-gold-200: #facd6f;
  --ifm-color-gold-300: #fbb13d;
  --ifm-color-gold-400: #f98e21;
  --ifm-color-gold-500: #d5771a;
  --ifm-color-gold-600: #a85d13;
  --ifm-color-gold-700: #8c4c0d;
  --ifm-color-gold-800: #603408;
  --ifm-color-gold-900: #332213;
  --ifm-color-gold-000: #fdf5d8;

  --ifm-color-red-100: #fbd3d0;
  --ifm-color-red-200: #ffbdba;
  --ifm-color-red-300: #ffada9;
  --ifm-color-red-400: #fe8382;
  --ifm-color-red-500: #fe4e5c;
  --ifm-color-red-600: #d62740;
  --ifm-color-red-700: #af2536;
  --ifm-color-red-800: #800a20;
  --ifm-color-red-900: #3d1c1b;
  --ifm-color-red-000: #fbeeed;

  --ifm-color-pink-100: #f6d2f2;
  --ifm-color-pink-200: #f7bcf3;
  --ifm-color-pink-300: #f3a8ee;
  --ifm-color-pink-400: #ef7feb;
  --ifm-color-pink-500: #df5adc;
  --ifm-color-pink-600: #b938b8;
  --ifm-color-pink-700: #9a2d99;
  --ifm-color-pink-800: #6c1d6b;
  --ifm-color-pink-900: #381b37;
  --ifm-color-pink-000: #fcf0fb;

  --ifm-color-purple-100: #e2d9f7;
  --ifm-color-purple-200: #d8c7ff;
  --ifm-color-purple-300: #cab9f4;
  --ifm-color-purple-400: #b49df1;
  --ifm-color-purple-500: #9b80ed;
  --ifm-color-purple-600: #775ce7;
  --ifm-color-purple-700: #614aca;
  --ifm-color-purple-800: #382aa4;
  --ifm-color-purple-900: #292142;
  --ifm-color-purple-000: #f5f2fc;

  --ifm-color-blue-100: #cde2ff;
  --ifm-color-blue-200: #b5d2fb;
  --ifm-color-blue-300: #9cbef6;
  --ifm-color-blue-400: #80abfa;
  --ifm-color-blue-500: #5d8df5;
  --ifm-color-blue-600: #316bf4;
  --ifm-color-blue-700: #2e51ed;
  --ifm-color-blue-800: #2036a1;
  --ifm-color-blue-900: #1b205b;
  --ifm-color-blue-000: #edf4ff;


  

  --ifm-color-emphasis: var(--ifm-color-primary-dark);

  --ifm-background-color: var(--ifm-color-emphasis-0);
  --ifm-background-surface-color: var(--ifm-color-emphasis-0);

  --ifm-card-background-color: var(--ifm-color-emphasis-0);

  --ifm-color-content: var(--ifm-color-emphasis-700);
  --ifm-color-content-inverse: var(--ifm-color-emphasis-0);

  --ifm-dropdown-link-color: var(--ifm-color-emphasis-700);

  --ifm-font-family-base: Inter, sans-serif;

  --ifm-footer-background-color: var(--ifm-color-gray-900);
  --ifm-footer-color: var(--ifm-color-gray-300);
  --ifm-footer-link-color: var(--ifm-color-gray-300);
  --ifm-footer-link-hover-color: var(--ifm-color-gray-0);
  --ifm-footer-title-color: var(--ifm-menu-color);

  --ifm-global-border-width: 1px;
  --ifm-global-radius: 0.5rem;

  --ifm-heading-color: var(--ifm-color-emphasis-900);
  --ifm-heading-font-family: 'Metropolis Semi Bold', sans-serif;
  --ifm-heading-font-weight: var(--ifm-font-weight-normal);

  --ifm-hero-background-color: var(--ifm-color-emphasis-100);

  --ifm-hover-overlay: var(--ifm-color-emphasis-100);

  --ifm-hr-border-color: var(--ifm-color-emphasis-200);
  --ifm-hr-border-width: var(--ifm-global-border-width);

  --ifm-link-hover-decoration: underline;

  --ifm-menu-color: var(--ifm-color-emphasis-600);
  --ifm-menu-color-active: var(--ifm-color-emphasis);

  --ifm-navbar-item-padding-horizontal: 1.5rem;
  --ifm-navbar-link-color: var(--ifm-color-emphasis-600);
  --ifm-navbar-link-hover-color: var(--ifm-menu-color-active);
  --ifm-navbar-padding-horizontal: 1.5rem;
  --ifm-navbar-shadow: none;

  --ifm-scrollbar-track-background-color: transparent;
  --ifm-scrollbar-thumb-background-color: var(--ifm-color-emphasis-300);
  --ifm-scrollbar-thumb-hover-background-color: var(--ifm-color-emphasis-400);

  --ifm-toc-border-color: var(--ifm-color-emphasis-200);
  --ifm-toc-link-color: var(--ifm-menu-color);
  --ifm-toc-padding-vertical: 0.25rem;
  --ifm-toc-padding-horizontal: 1rem;

  --site-color-favorite-background: var(--ifm-color-emphasis-100);
  --site-color-tooltip: #fff;
  --site-color-tooltip-background: #353738;
  --site-color-svg-icon-favorite: #e9669e;
  --site-color-checkbox-checked-bg: hsl(167deg 56% 73% / 25%);
}

:root[data-theme='dark'] {
  --ifm-color-content: var(--ifm-color-emphasis-900);
  --ifm-color-content-inverse: var(--ifm-color-emphasis-900);

  --ifm-background-color: var(--ifm-color-emphasis-0);
  --ifm-background-surface-color: var(--ifm-color-emphasis-0);

  --ifm-menu-color: var(--ifm-color-emphasis-600);
  --ifm-menu-color-active: var(--ifm-color-emphasis);

  --ifm-card-background-color: var(--ifm-color-emphasis-100);

  --ifm-hero-background-color: var(--ifm-color-emphasis-0);

  --ifm-hover-overlay: var(--ifm-color-emphasis-100);
  --ifm-color-emphasis: var(--ifm-color-primary-lighter);
  --ifm-scrollbar-track-background-color: transparent;
  --ifm-scrollbar-thumb-background-color: var(--ifm-color-emphasis-300);
  --ifm-scrollbar-thumb-hover-background-color: var(--ifm-color-emphasis-400);
}

:root .DocSearch {
  --docsearch-primary-color: var(--ifm-color-content);
  --docsearch-text-color: var(--ifm-color-content);
  --docsearch-spacing: 1.2rem;
  --docsearch-icon-stroke-width: 1.5px;
  --docsearch-highlight-color: var(--ifm-color-primary);
  --docsearch-muted-color: var(--ifm-color-emphasis-400);
  --docsearch-container-background: rgba(0, 0, 0, 0.6);
  --docsearch-logo-color: var(--docsearch-primary-color);

  /* modal */
  --docsearch-modal-width: 70vw;
  --docsearch-modal-height: 80vh;
  --docsearch-modal-background: var(--ifm-background-surface-color);
  --docsearch-modal-shadow: none;

  /* searchbox */
  --docsearch-searchbox-height: 3rem;
  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-searchbox-shadow: none;

  /* hit */
  --docsearch-hit-color: var(--ifm-menu-color-active);
  --docsearch-hit-active-color: var(--ifm-menu-color-active);
  --docsearch-hit-background: none;
  --docsearch-hit-shadow: none;

  /* key */
  --docsearch-key-gradient: none;
  --docsearch-key-shadow: none;

  /* footer */
  --docsearch-footer-height: 2rem;
  --docsearch-footer-background: none;
  --docsearch-footer-shadow: none;
}

/* Darkmode */

html[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-color-content);
  --docsearch-container-background: rgba(0, 0, 0, 0.6);
  --docsearch-modal-background: var(--ifm-background-surface-color);
  --docsearch-modal-shadow: none;

  --docsearch-searchbox-background: transparent;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-hit-color: var(--ifm-menu-color-active);
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: none;
  --docsearch-key-gradient: none;
  --docsearch-key-shadow: none;
  --docsearch-footer-background: none;
  --docsearch-footer-shadow: none;
  --docsearch-logo-color: var(--docsearch-muted-color);
  --docsearch-muted-color: var(--ifm-color-emphasis-400);
}
